---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";
---

<Layout title="Document Analyzer">
  <div class="relative z-0 flex h-full w-full overflow-hidden">
    <App client:idle />
  </div>
</Layout>
